extends layout

block content
  h1= title
  p #{title}
  .upload
    h3 Upload Images
    form(action="" method="POST" enctype='multipart/form-data')
      input(type="file" accept='image/*' name='src' multiple)
      button(type='submit') Upload image
